/jsworks/__pycache__
/jsworks/models/__pycache__
/jsworks/views/.idea
/jsworks_account/__pycache__
/jsworks_account/models/__pycache__
backup
/test_arborescence/00_Generateur/log
/test_arborescence/__pycache__
/test_arborescence/models/__pycache__
