<?xml version="1.0"?>
<odoo>
    <menuitem id="jsworks_menu_root" name="jsworks">
        <menuitem id="jsworks_first_level_menu" name="jsworks">
             <menuitem id="jsworks_categorie_action_menu_item" action="jsworks_categorie_action"/>
             <menuitem id="jsworks_development_action_menu_item" action="jsworks_development_action"/>
             <menuitem id="jsworks_project_action_menu_item" action="jsworks_project_action"/>
             <menuitem id="jsworks_state_action_menu_item" action="jsworks_state_action"/>
             <menuitem id="jsworks_tag_action_menu_item" action="jsworks_tag_action"/>
             <menuitem id="jsworks_type_tag_action_menu_item" action="jsworks_type_tag_action"/>
             <menuitem id="jsworks_work_action_menu_item" action="jsworks_work_action"/>
        </menuitem>
    </menuitem>
</odoo>
